{include file="public/header"}

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="layui-row" id="aqtj" style="display: block;">
    <div class="x-body">
        <div class="layui-row">
            <div class="demoTable layui-form layui-col-md12 x-so">
                <div class="layui-inline">
                    <input class="layui-input" placeholder="开始日" name="start_time" id="start">
                    <input class="layui-input" placeholder="截止日" name="end_time" id="end">
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
            </div>
        </div>

        <table class="layui-table" id="demo" lay-filter="useruv" lay-data="{id:'idTest'}">
        </table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
            </div>
        </script>
    </div>
</div>
<script>

     layui.use(['table','laydate'], function(){
        var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });



        //第一个实例
        var tableIns = table.render({
            elem: '#demo'
            ,method: 'post'
            ,toolbar: '#toolbarDemo'
            ,url: '/Admin/Statistics/statistics_list' //数据接口
            ,page: true //开启分页
            ,cellMinWidth : 95
            ,height : "600"
            ,limit: 20
            ,id: 'idTest'
            ,cols: [[ //表头
                {checkbox: true, fixed: true,style:'height:100px;'}
                ,{field: 'store_name',  title: '店名', sort: true ,align: 'center'}
                ,{field: 'visits_num', title: '访问量',align: 'center'}
                ,{field: 'num', title: '5元券',align: 'center'}
                ,{field: 'num1', title: '人数',align: 'center'}
            ]]
        });

        var $ = layui.$, active = {

            reload: function(){
                var start_time = $('#start');
                var end_time = $('#end');
                //执行重载
                tableIns.reload({
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        start_time: start_time.val(),
                        end_time: end_time.val()
                    }
                })
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>
</body>

</html>