{include file="public/header"}
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="goods_name" class="layui-form-label">
                <span class="x-red">*</span>商品名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_name" readonly="readonly" name="goods_name" required="" lay-verify="goods_name"
                       autocomplete="off" class="layui-input" value="">
                <input type="hidden" name="goods_id" id="goods_id" value=""/>
                <input type="button" name="btn" value="请选择商品" 	class="layui-btn layui-btn-normal" onclick="serach_goods()">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_time" class="layui-form-label">
                <span class="x-red">*</span>卡券名称
            </label>
            <div class="layui-input-inline">
                <select name="card_type_id">
                    {volist name="coupon_type_list" id="vo"}
                        <option value="{$vo.card_type_id}">{$vo.ticket_name}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="ticket_name" class="layui-form-label">
                <span class="x-red">*</span>导入卡券
            </label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
                <input type="hidden" name="file_url" id="file_url" value="" />
            </div>
        </div>
        
        <div class="layui-form-item">
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>

    layui.use(['form','layer','upload','laydate','layedit'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,laydate = layui.laydate
            ,layedit = layui.layedit
            ,layer = layui.layer
            ,upload = layui.upload;
        layedit.set({
            uploadImage: {
                url: '/Admin/Upload/editor_upload',
                type: 'post'
            }
        });
        //注意：layedit.set 一定要放在 build 前面，否则配置全局接口将无效。
        var index = layedit.build('activity_detail',{
            height: 180,
        }); //建立编辑器

        layedit.sync(index)

        //日期时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'date'
        });

        laydate.render({
            elem: '#end_time'
            ,type: 'date'
        });

        //拖拽上传
        upload.render({
            elem: '#test3'
            ,url: '/Admin/Upload/excel_upload'
            ,accept: 'file'
            ,exts: 'xlsx|xls' //允许上传类型
            ,done: function(res){ //上传成功 赋值
                $('#file_url').val(res.data);
                layer.msg('上传成功', {icon: 1});
            }
        });

        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 5){
                    return '昵称至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            },
            activity_detail: function(value) {
                return layedit.sync(index);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            console.log(data.othis)
            // layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
            //   offset: '6px'
            // });
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(add)', function(data){
            //console.log(data);

            //发异步，把数据提交给php
            $.post('/Admin/Coupon/add_coupon', data.field, function(res){

                if(res.code == 1){
                    layer.alert(res.msg, {icon: 1},function () {
                        // 获得frame索引
                        //var index = parent.layer.getFrameIndex(window.name);

                        //关闭当前frame
                        layer.close();

                        //window.parent.location.reload();

                    });
                }else{
                    layer.msg(res.msg,{time: 1000});
                    // layer.alert(res.msg, {icon: 1});
                }
            })


            return false;
        });

    });

    function serach_goods(){
        layer.open({
            type: 2,
            area: ['100%', '100%'],
            fix: false, //不固定
            maxmin: true,
            title:'查询商品',
            content: '/Admin/coupon/search_goods'
        });
    }

</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>