{include file="public/header"}
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="activity_goods_name" class="layui-form-label">
                  <span class="x-red">*</span>标题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="activity_goods_name" name="activity_goods_name" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="start_time" class="layui-form-label">
                  <span class="x-red">*</span>开始时间
              </label>
                <div class="layui-input-inline">
                  <input type="text" lay-verify="required" autocomplete="off" class="layui-input" name="start_time" id="start" placeholder="请输入开始时间">
                </div>
          </div>
          <div class="layui-form-item">
              <label for="end_time" class="layui-form-label">
                  <span class="x-red">*</span>结束时间
              </label>
                <div class="layui-input-inline">
                  <input type="text" lay-verify="required" autocomplete="off" class="layui-input" name="end_time" id="end" placeholder="请输入结束时间">
                </div>
          </div>
         
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer','upload','laydate','layedit'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,laydate = layui.laydate
          ,layer = layui.layer;
          

          //日期时间选择器
          laydate.render({
            elem: '#start'
            ,type: 'datetime'
          });

          laydate.render({
            elem: '#end'
            ,type: 'datetime'
          });

          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            },
            activity_detail: function(value) { 
             return layedit.sync(index);
            }
          });


          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            
            //发异步，把数据提交给php
            $.post('/Admin/Activity/activity_goods_default_add', data.field, function(res){

                if(res.code == 200){
                    layer.alert(res.msg, {icon: 1},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);

                      //关闭当前frame
                      parent.layer.close(index);
                     
                      window.parent.location.reload();

                  });
                }else{
                  layer.msg(res.msg,{time: 1000});
                  // layer.alert(res.msg, {icon: 1});
                }
            })

            
            return false;
          });
          
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>