{include file="common/header"}
<title>个人中心</title>


	<!--<header data-am-widget="header" class="am-header am-header-default sq-head ">-->
			<!--&lt;!&ndash;<div class="am-header-left am-header-nav">&ndash;&gt;-->
				<!--&lt;!&ndash;<a href="javascript:history.back()" class="">&ndash;&gt;-->
					<!--&lt;!&ndash;<i class="am-icon-chevron-left"></i>&ndash;&gt;-->
				<!--&lt;!&ndash;</a>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
			<!--<h1 class="am-header-title">-->
				<!--<a href="" class="">个人中心</a>-->
			<!--</h1>-->
		<!--</header>-->
	    <!--<div style="height: 42px;" class="title_name">个人中心</div>-->
	    <div class="member">

	    	<div class="mem-pic">
		    	<div class="mem-pic-bg" style="background-image: url({$member['wx_url']});"></div>
	    	</div>
			<div class="mem-tit">
				<span class="WX_Name">{$member['nickname']}</span>
				<a href="infor.html" class="WS_btn">
					<i class="iconfont icon-shezhi"></i>
					<p class="icon_name">完善资料</p>
				</a>
				<div class="jindutiao">
					<i>资料完整度</i>
					<div class="tiao-box">
						<span style="width: {$Integrity}%"></span>
					</div>
					<i>{$Integrity}%</i>
				</div>
				<span style="font-size: 1.5rem;">手机号：<i style="font-style: normal;">{$member['mobilephone']}</i></span>
			</div>
	    </div>
		<ul class="member-menu">
			<li>
				<a href="{:url('Member/collect')}">
					<p class="yellow iconfont icon-shoucang"></p>
					<p class="black">收藏 </p>
				</a>
			</li>
			<li>
				<a href="{:url('Member/yhq')}">
					<p class="yellow iconfont icon-qiaquan"></p>
					<p class="black">卡劵 </p>
				</a>
			</li>
			<li>
				<a href="{:url('Activity/huodong')}">
					<p class="yellow iconfont icon-huodong"></p>
					<p class="black">活动 </p>
				</a>
			</li>
			<li>
				<a href="{:url('Member/zuji')}">
					<p class="yellow iconfont icon-zuji"></p>
					<p class="black">足迹 </p>
				</a>
			</li>
		</ul>
	    
	    <!--导航-->
		<div class="">
			<!--<div class="List-head" style="padding: 0 10px; margin-top: 10px;">-->
				<!--<h1 class="List-head-name">产品分类</h1>-->
			<!--</div>-->
			<ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
				{foreach name="goods_list" item="vo" key="k"}
				<li class="RQPH-area">
					<div class="am-gallery-item">
						<a href="{:url('Index/detail',['id' => $vo['id']])}" class="">
							<img src="{$vo['goods_images']}" />
							<h3 class="am-gallery-title">{$vo['goods_name']}</h3>
							<!--<div class="am-gallery-desc am-gallery-yuan"></div>-->
							<div class="am-gallery-desc am-gallery-color"><em>￥</em>{$vo['price1']}<em>{$vo['price2']}</em></div>
						</a>
					</div>
				</li>
				{/foreach}
			</ul>
		</div>
		
		<!--底部导航-->
		<div style="height: 55px;"></div>
		<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
			<ul class="am-navbar-nav am-cf am-avg-sm-4 Icon-Name">
				<li>
					<a href="{:url('Index/index')}">
						<span class="iconfont icon-bank-card-type"></span>
						<span class="am-navbar-label">聚优惠</span>
					</a>
				</li>
				<li>
					<a href="{:url('Index/xfx')}">
						<span class="iconfont icon-xin-1"></span>
						<span class="am-navbar-label">新发现</span>
					</a>
				</li>
				<li>
					<a href="{:url('Index/rqph')}">
						<span class="iconfont icon-paihangbang"></span>
						<span class="am-navbar-label">人气榜</span>
					</a>
				</li>
				<li>
					<a href="{:url('Coupon/coupon_list')}" class="">
						<span class="iconfont icon-qiaquan1"></span>
						<span class="am-navbar-label">卡券</span>
					</a>
				</li>
				<li>
					<a href="{:url('Member/index')}"  class="curr">
						<span class="iconfont icon-Personalcenter"></span>
						<span class="am-navbar-label">我的</span>
					</a>
				</li>
			</ul>
		</div>
 
 
<script>
	$(function () {
		var countdown=60; 
		$(".Cha_btn").click(function() {
			$(".XinXi_box").css("display","none");
		});

		$(".yzm-hq").click(function(){
			var phone = /^1[23456789]\d{9}$/; 
			var mobilephone = $("#mobilephone").val();
			if(!phone.test(mobilephone)){
				alert('请输入正确的手机号码');
				return false;
			}
			settime(this)
			$.post("{:url('Member/sms_send')}",{mobilephone:mobilephone},function(data){


			})

		})

		function settime(obj) {
		    if (countdown == 0) { 
		        obj.removeAttribute("disabled");    
		        obj.value="重新获取验证码"; 
		        countdown = 60; 
		        return;
		    } else { 
		        obj.setAttribute("disabled", true); 
		        obj.value="重新发送(" + countdown + ")"; 
		        countdown--; 
		    } 
			setTimeout(function() { 
		    	settime(obj) }
		    ,1000) 
		}

		$(".login-btn").click(function(){
			var phone = /^1[23456789]\d{9}$/; 
			var mobilephone = $("#mobilephone").val();
			if(!phone.test(mobilephone)){
				alert('请输入正确的手机号码');
				return false;
			}
			var code = $("#code").val();
			if (!$.trim(code)) {
				alert('请输入验证码');
				return false
			}

			$.post("{:url('Member/edit_member')}",{mobilephone: mobilephone, code: code,t:1},function(data){

				if (data.code == 200) {
					$(".XinXi_box").css("display","none");
				}

				alert(data.msg)
			})
		})
	});
</script>
{include file="common/footer"}

