{include file="common/header"}

		<!--<header data-am-widget="header" class="am-header am-header-default sq-head ">-->
			<!--<div class="am-header-left am-header-nav">-->
				<!--<a href="javascript:history.back()" class="">-->
					<!--<i class="am-icon-chevron-left"></i>-->
				<!--</a>-->
			<!--</div>-->
			<!--<h1 class="am-header-title">-->
  	            <!--<a href="" class=""></a>-->
            <!--</h1>-->
	    <!--</header>-->
	    <div style="height: 42px;" class="title_name">{$title}</div>
	    <ul class="safty">
	    	<li style="background: #fff;">
	    		<p class="pap">
	    			<span class="MY_info">
						 <i>昵称：{$member['nickname']}</i>
						 <i>电话：{$member['mobilephone']}</i>
					</span>
	    			<span class="infor-pic">
						<!-- <input type="file" style="position: absolute; opacity: 0;width: 72px; height: 72px; display: block;"/> -->
	    				<img src="{$member['wx_url']}" />
	    			</span>
	    		</p>
	    	</li>
	    	<li class="Info_box"  style="margin: 10px auto; background: #ffffff;">

					<!--<div class="my_name">-->
						<!--<span>昵称</span>-->
						<!--<input type="text" name="nickname" id="nickname" value="{$member['nickname']}">-->
					<!--</div>-->
					<div class="my_family">
						<span>家庭：</span>
						<select id="family" name="family" value="">
							<option value ="0">请选择</option>
							<option value ="1" {if condition="$member['family'] eq 1"}selected="selected"{/if}>三口之家</option>
							<option value ="2" {if condition="$member['family'] eq 2"}selected="selected"{/if}>单身贵族</option>
							<option value="3" {if condition="$member['family'] eq 3"}selected="selected"{/if}>二人世界</option>
						</select>
					</div>
					<div class="my_age">
						<span>年龄：</span>
						<select id="age" name="age" value="">
							<option value ="0">请选择</option>
							<option value ="1" {if condition="$member['age'] eq 1"}selected="selected"{/if}>12岁以上</option>
							<option value ="2" {if condition="$member['age'] eq 2"}selected="selected"{/if}>18-30岁之间</option>
						</select>
					</div>
					<div class="my_gender">
						<span>性别：</span>
						<select id="sex" name="sex" value="">
							<option value ="0" >不限</option>
							<option value ="1" {if condition="$member['sex'] eq 1"}selected="selected"{/if}>男</option>
							<option value ="2" {if condition="$member['sex'] eq 2"}selected="selected"{/if}>女</option>
						</select>
					</div>

			</li>
			<li class="Info_box" style="margin: 10px auto; background: #ffffff;">
				<div class="my_tel">
					<span>手机号：</span>
					<input type="text" name="mobilephone" style="width: 55%;" id="mobilephone" value="">
				</div>
				<div class="my_validate">
					<span>验证码：</span>
					<input type="text" name="code" style="width: 30%;" id="code" value="">
					<!-- <em class="Fa_info">发送验证码</em> -->
					<input type="button" class="Fa_info" value="发送验证码" />
				</div>
			</li>
			<span class="Sure_btn">提&nbsp;&nbsp;交</span>
	    </ul>
	</body>
</html>
<script type="text/javascript">
	var countdown = 60
	$(".Fa_info").click(function(){
		var phone = /^1[23456789]\d{9}$/; 
		var mobilephone = $("#mobilephone").val();
		if(!phone.test(mobilephone)){
			alert('请输入正确的手机号码');
			return false;
		}
		settime(this)
		$.post("{:url('Member/sms_send')}",{mobilephone:mobilephone},function(data){


		})

	})
	function settime(obj) {
	    if (countdown == 0) { 
	        obj.removeAttribute("disabled");    
	        obj.value="重新获取验证码"; 
	        countdown = 60; 
	        return;
	    } else { 
	        obj.setAttribute("disabled", true); 
	        obj.value="重新发送(" + countdown + ")"; 
	        countdown--; 
	    } 
		setTimeout(function() { 
	    	settime(obj) }
	    ,1000) 
	}

	$(".Sure_btn").click(function(){

		var nickname = $("#nickname").val();
		var sex = $("#sex").val();
		var age = $("#age").val();
		var family = $("#family").val();
		var mobilephone = $("#mobilephone").val();
		var code = $("#code").val();

		$.post("{:url('Member/edit_member')}",{nickname: nickname, sex: sex, age: age, family: family, mobilephone: mobilephone, code: code},function(data){

			alert(data.msg)
		})

	})

</script>
