<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>卡券详情</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
    <link href="css/amazeui.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/time.js"></script>

</head>
<body style="background: #f5f5f5;">
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">卡券详情</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<div style="width: 100%;">
    <img style="width: 100%; height: auto;" src="images/ZLY_quangeee.png"/>
</div>
<div class="ZLY_XingQing">
    <div style=" padding: 20px 0;width:100%;">
        <img class="TiaoMa" style="width: 70%;display: none; border: 0; margin: 0 auto;" src="images/ZLY_tiaoxing.jpg"/>
        <span class="Quan_btn" style="display: block; margin: 20px auto;width: 60%;padding: 10px 0;color:#fff;text-align: center;background:#ff4f5f; ">立即使用</span>
    </div>
    <div style="background: #ffffff; padding: 10px; border-radius: 5px; font-size: 1.3rem;">
        <p>
            卡券名称：10元代金券
        </p>
        <p>
            活动时间：2018-11-1至2019-12-1
        </p>
        <p>
            适用范围：华润万家东北地区全部门店
        </p>
        <p>
            使用说明：是打飞机拉萨的附近阿拉斯加的叫法是的龙卷风是拉上几点睡的封禅大典 事都是尾矿库我看看
            使用说明：是打飞机拉萨的附近阿拉斯加的叫法是的龙卷风是拉上几点睡的封禅大典 事都是尾矿库我看看
        </p>
    </div>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="index.html">
                <span class="am-icon-home fa fa-credit-card fa-lg"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="XFX.html">
                <span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="RQPH.html">
                <span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="KaQuan.html" class="curr">
                <span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="member.html" class="">
                <span class="am-icon-user fa fa-user-o fa-lg"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
    <div style="width: 100px;height: 100px;">
        已使用
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
<script>
    $(function () {
        $(".Quan_btn").click(function() {
            $(".TiaoMa").css("display","block");
            $(".Quan_btn").css("display","none");
        });

    });
</script>
</body>
</html>