<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新发现 新生活</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
    <link href="css/amazeui.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/time.js"></script>

</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">新发现 新生活</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<div class="XFX-box">
    <ul class="XFX-list">
        <li class="List-faxian">
            <a href="LQ_HuoDong.html">
                <img src="images/XFXlist1.jpg">
            </a>
        </li>
        <li class="List-faxian">
            <a href="LQ_XiangQing.html">
                <img src="images/XFXlist2.jpg">
            </a>
        </li>
        <li class="List-faxian">
            <a href="LQ_LieBiao.html">
                <img src="images/XFXlist3.jpg">
            </a>
        </li>

    </ul>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="index.html">
                <span class="am-icon-home fa fa-credit-card fa-lg"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="XFX.html" class="curr">
                <span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="RQPH.html">
                <span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="">
                <span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="login.html" class="">
                <span class="am-icon-user fa fa-user-o fa-lg"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
</body>
</html>