    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <script src="__JS__/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="__JS__/contabs.min.js"></script>
    <script src="__JS__/plugins/pace/pace.min.js"></script>
    <!-- <script src="__JS__/content.min.js?v=1.0.0"></script> -->
    <script src="__JS__/plugins/bootstrap-table/bootstrap-table.js"></script>
    <script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__JS__/demo/bootstrap-table-demo.min.js"></script>
    <script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>

    <script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
    <script src="__JS__/plugins/validate/messages_zh.min.js"></script>
    <script src="__JS__/demo/form-validate-demo.min.js"></script>
</body>
<script>
    function open_layer(title,url) {
         parent.layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['1150px', '850px'],
            content: url,
        });
    }
</script>
</html>
