<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>控烟知识竞答</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- light7_base -->
    <link rel="stylesheet" href="__CSS__/light7.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>

<body onload="timer()">
    <div class="page">
        <div class="content ti-page">
          
            <br>
            <!-- <button class="btn-size next" style="border: none;background-color: #13b5b1">下一道</button> -->
          <!--   <div class="sel-time">
                <img src="__IMAGES__/ti_12.png" class="img-time" alt="">
                <p id="timer"></p>
            </div> -->
            <div>
                
            </div>


        </div>
        <!-- content -->

    </div>
    <!-- page -->


    <script type='text/javascript' src='__JS__/jquery-1.8.3.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__JS__/light7.js' charset='utf-8'></script>
        <script src="https://cdn.bootcss.com/layer/3.0.1/layer.js"></script>
    <script src="__JS__/my.js"></script>
    <script>
        // function timer() {
        //     var ts = (new Date(2017, 5, 25, 9, 0, 0)) - (new Date()); //计算剩余的毫秒数  
        //     var dd = parseInt(ts / 1000 / 60 / 60 / 24, 10); //计算剩余的天数  
        //     var hh = parseInt(ts / 1000 / 60 / 60 % 24, 10); //计算剩余的小时数  
        //     var mm = parseInt(ts / 1000 / 60 % 60, 10); //计算剩余的分钟数  
        //     var ss = parseInt(ts / 1000 % 60, 10); //计算剩余的秒数  
        //     dd = checkTime(dd);
        //     hh = checkTime(hh);
        //     mm = checkTime(mm);
        //     ss = checkTime(ss);
        //     // document.getElementById("timer").innerHTML = mm + "分" + ss + "秒";
        //      $("#timer").html(mm + "分" + ss + "秒") ;
        //     // setInterval("timer()", 1000);
        // }

        // function checkTime(i) {
        //     if (i < 10) {
        //         i = "0" + i;
        //     }
        //     return i;
        // }
         num = 0;
        anserws = '';
         $(document).ready(function(){
             $.ajax({
                    type: "GET",
                    url: "{:url('cuo_list_ajax')}?openid={$openid}",
                    data: {},
                    dataType: "json",
                    success: function(data){
                       anserws = data;
                       set_problem(anserws[num],num);
                    }   
             });
         
        });

         function set_problem(data,num){
            var html = '<div class="rel">'+
            '<img src="__IMAGES__/ti_01.png" class="fu-img" alt="">'+
            '</div>'+
            '<p class="sel-titt">' + (num+1) + data.problem + '</p>'+
            '<div class="btn-size sel-btn ';  
            if(data.choose == 'A'){   
                html += 'cuo'; 
            }else if(data.answer == 'A'){ 
                html += 'dui';                  
            }else{ 
                html += '';
            }

            html += '">A.'+ data.A +
            '</div>'+
            '<div class="btn-size sel-btn ';
            if(data.choose == 'B'){   
                html += 'cuo'; 
            }else if(data.answer == 'B'){ 
                html += 'dui';                  
            }else{
                html += '';
            }

            html += '">B.'+ data.B +
            '</div>'+
            '<div class="btn-size sel-btn ';
            if(data.choose == 'C'){   
                html += 'cuo'; 
            }else if(data.answer == 'C'){ 
                html += 'dui';                  
            }else{
                html += '';
            }

            html += '">C.'+ data.C +
            '</div>'+
            '<div class="btn-size sel-btn ';
            if(data.choose == 'D'){   
                html += 'cuo'; 
            }else if(data.answer == 'D'){ 
                html += 'dui';                  
            }else{
                html += '';
            }

            html += '">D.'+ data.D +
            '</div>'+
              '<button class="btn-size next" style="border: none;background-color: #13b5b1">'+
              '下一道'+
              '</button>';
            $('.content').html(html);


           $('.next').click(function(){ 
                  $.ajax({
                    type: "GET",
                    url: "{:url('cuo_list_num_ajax')}?openid={$openid}",
                    data: {},
                    dataType: "json",
                    success: function(data){
                         if( data.cuo== num){
                            layer.open({
                                  content: '没错题啦',
                                  end: function(index, layero){
                                    //do something
                                   window.location.href = '/index/index/questions?openid={$openid}';
                                  }
                                });
                           
                         }
                    }   
             });
                num++; 
                set_problem(anserws[num],num);
             });
             
         }
    </script>
</body>

</html>