<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>控烟知识竞答</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- light7_base -->
    <link rel="stylesheet" href="__CSS__/light7.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>

<body>
<form action="{:url('save_user_info')}" method="get" id="user_info">
    <div class="page">
        <div class="content home-page">
            <img src="__IMAGES__/top_01.png" class="fu-img" alt="">
            <img src="__IMAGES__/slo_03.png" class="slo" alt="">

            <div class="danwei">
                <p>
                    <span>主办单位：</span> 辽宁省卫生和计划生育委员会
                </p>
                <p>
                    <span>承办单位：</span> 辽宁省卫生与人口健康教育中心 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;辽宁省12320卫生计生热线
                </p>
            </div>
            <div class="btn-size rel">
                &nbsp;&nbsp;选择性别
                <div class="sex abs">
                    <span class="active">男</span>
                    <span>女</span>
                    <input type="hidden" name="openid" value="{$openid}"></input>
                    <input type="hidden" name="sex" value="男" id="sex"></input>
                </div>
            </div>
            <div class="btn-size rel">
                &nbsp;&nbsp;<input type="text" id='zhiye' name="position" value="选择职业" />
            </div>
            <button class="btn-size qq" type="button"  style="border: none;background-color: #13b5b1">去答题</button>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</form>

    <script type='text/javascript' src='__JS__/jquery-1.8.3.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__JS__/light7.js' charset='utf-8'></script>
    <script src="__JS__/my.js"></script>

</body>


<script type="text/javascript">
$(document).ready(function(){

    //页面提交事件
	$(".qq").click(function(){
        //判断职业是否被选择
        if($("#zhiye").val() == '选择职业'){
            $.alert('请选择职业');
        }else{
            $('#user_info').submit();
        }
    });

    //点击选择性别
    $(".sex span").click(function() {
        if($(this).html() == '男'){
            $('#sex').val('男');
        }else{
            $('#sex').val('女');
        }
    });

});
</script>
</html>