<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>控烟知识竞答</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- light7_base -->
    <link rel="stylesheet" href="__CSS__/light7.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>


<body>
    <div class="page">
        <div class="content ti-page" id="append_go">
            <div class="rel">
                <img src="__IMAGES__/ti_01.png" class="fu-img" alt="">
                <div class="jindu1 abs">
                    <img src="__IMAGES__/s2.png" alt="">
                    <p>通过</p>
                </div>
            </div>
            <img src="__IMAGES__/jiang_03.png" class="img-yan" alt="">
            <p class="jiang-text">
                感谢您的参与
                <span>恭喜您，获得一次抽奖机会！</span>
            </p>
            <button class="btn-size cjl" id="go" style="border: none;background-color: #13b5b1">去抽奖</button>
        </div>
        <!-- content -->
        <div class="ceng"></div>
        <div class="hb">
            <img class="hb-back" src="__IMAGES__/hb_03.png" alt="">
            <button>
                <img id="djlq" src="__IMAGES__/hb_07.png" alt="">
            </button>
        </div>
    </div>
    <!-- page -->




    <script type='text/javascript' src='__JS__/jquery-1.8.3.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__JS__/light7.js' charset='utf-8'></script>
        <script src="https://cdn.bootcss.com/layer/3.0.1/layer.js"></script>
    <script src="__JS__/my.js"></script>
    <script>

        //去抽奖
        $('#go').click(function(){ 
            $.ajax({
                type: "GET",
                url: "{:url('zj_ajax')}?openid={$openid}",
                data: {},
                dataType: "json",
                success: function(data){
                    if(data.status == 1){
                        $('#go').remove();
                        var html = '<button class="btn-size" id="go1" style="border: none;background-color: #13b5b1">去抽奖</button>';
                        $('#append_go').append(html);
                    }
                }
            });
        });

        //点击领取
        $('#djlq').click(function(){ 
            layer.open({
              content: '稍后会以现金红包的形式发送到您的微信号',
              end: function(index, layero){
                //do something
                window.location.href="/index/index/questions?openid=" + openid;
              }
            });
            window.location = "{:url('fahongbao')}?openid={$openid}";            
        }); 

        //提示已领取
        $('#go1').click(function(){ 
            layer.open({
              content: '已发送红包',
              end: function(index, layero){
                //do something
                window.location.href="/index/index/questions?openid=" + openid;
              }
            });
        });       
    </script>
</body>

</html>