<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>控烟知识竞答</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- light7_base -->
    <link rel="stylesheet" href="__CSS__/light7.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>

<body>
    <div class="page">
        <div class="content home-page">
            <img src="__IMAGES__/top_01.png" class="fu-img" alt="">
            <img src="__IMAGES__/slo_03.png" class="slo" alt="">

            <div class="danwei">
                <p>
                    <span>主办单位：</span> 辽宁省卫生和计划生育委员会
                </p>
                <p>
                    <span>承办单位：</span> 辽宁省卫生与人口健康教育中心 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;辽宁省12320卫生计生热线
                </p>
            </div>


            <button class="btn-size" style="border: none;background-color: #89c997;"><a class="sub1 external" style=" color: #FFF;" href="javascript:void(0)">专题训练</a></button>

            <button class="btn-size" style="border: none;background-color: #efbe6f;"><a class="sub external" style=" color: #FFF;">竞赛答题</a></button>
            <button style="border: none;background-color: #13b5b1" class="btn-size open-popup open-about" data-popup=".popup-about">答题须知</button>
        </div>
        <!-- content -->

    </div>
    <!-- page -->

    <!-- About Popup -->
    <div class="popup popup-about">
        <header class="bar bar-nav">
            <button class="button button-link button-nav pull-left close-popup">
                <span class="icon icon-left"></span>
                返回
            </button>
            <h1 class="title">答题须知</h1>
        </header>
        <div class="content" style="padding: 10px;">{$data.body}</div>
    </div>


    <script type='text/javascript' src='__JS__/jquery-1.8.3.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__JS__/light7.js' charset='utf-8'></script>
    <script src="__JS__/my.js"></script>
<script type="text/javascript">

        //竞赛答题
        $(".sub").click(function(){
            window.location.href="/index/index/competition?openid={$openid}";
        })

        //专题训练
        $(".sub1").click(function(){
             window.location.href="/index/index/professional?openid={$openid}";
        })

    </script>
</body>

</html>
