{include file="common/header"}
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">商品分类</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <div class="cate-search">
	    	<input type="text" name="goods_name" id="goods_name" value="" class="cate-input" placeholder="请输入您要的搜索的产品关键词" />
	    	<input type="button" class="cate-btn" onclick="sousuo()" />
	    </div>
	    <div class="content-list">
	    	<div class="list-left">
	    		{foreach name="GoodsType" item="vo"}
	    		<li {if condition="$type_id == $vo['id']"}class="current"{/if}><a href="{:url('Index/category',['type_id' => $vo['id']])}">{$vo['goods_type_name']}</a></li>
	    		<!-- <li><a href="">粮油大米</a></li>
	    		<li><a href="">烟酒饮料</a></li>
	    		<li><a href="">休闲食品</a></li>
	    		<li><a href="">个人洗护</a></li>
	    		<li><a href="">家居家纺</a></li> -->
	    		{/foreach}
	    	</div>
	    	<div class="list-right">
				<ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
					{foreach name="Goods" item="vo"}
					<li class="Active-area">
						<div class="am-gallery-item">
							<a href="{:url('Index/detail',['id' => $vo['id']])}" class="">
								<img src="{$vo['goods_images']}" />
								<h3 class="am-gallery-title">{$vo['goods_name']}</h3>
								<div class="am-gallery-desc am-gallery-yuan">原价￥{$vo['goods_original_price']}</div>
								<div class="am-gallery-desc">折扣价￥{$vo['goods_present_price']}</div>
							</a>
						</div>
					</li>
					{/foreach}
					<!-- <li class="Active-area">
						<div class="am-gallery-item">
							<a href="detail.html" class="">
								<img src=" __IMAGES__/test.png" />
								<h3 class="am-gallery-title">猪骨头棒新鲜生鲜肉制品猪大骨头筒骨熬汤佳品500g</h3>
								<div class="am-gallery-desc am-gallery-yuan">原价￥52</div>
								<div class="am-gallery-desc">折扣价￥52</div>
							</a>
						</div>
					</li>
					<li class="Active-area">
						<div class="am-gallery-item">
							<a href="detail.html" class="">
								<img src=" __IMAGES__/test.png" />
								<h3 class="am-gallery-title">猪骨头棒新鲜生鲜肉制品猪大骨头筒骨熬汤佳品500g</h3>
								<div class="am-gallery-desc am-gallery-yuan">原价￥52</div>
								<div class="am-gallery-desc">折扣价￥52</div>
							</a>
						</div>
					</li> -->
				</ul>
	    	</div>
	    </div>
	    

		<!--底部导航-->
		<div style="height: 55px;"></div>
		<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
			<ul class="am-navbar-nav am-cf am-avg-sm-4">
				<li>
					<a href="{:url('Index/index')}" class="curr">
						<span class="am-icon-home fa fa-credit-card fa-lg"></span>
						<span class="am-navbar-label">聚优惠</span>
					</a>
				</li>
				<li>
					<a href="{:url('Index/xfx')}">
						<span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
						<span class="am-navbar-label">新发现</span>
					</a>
				</li>
				<li>
					<a href="{:url('Index/rqph')}">
						<span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
						<span class="am-navbar-label">人气榜</span>
					</a>
				</li>
				<li>
					{:url('Coupon/coupon_list')}
						<span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
						<span class="am-navbar-label">卡券</span>
					</a>
				</li>
				<li>
					<a href="{:url('Member/index')}" class="">
						<span class="am-icon-user fa fa-user-o fa-lg"></span>
						<span class="am-navbar-label">我的</span>
					</a>
				</li>
			</ul>
		</div>
 
 <script type="text/javascript">
 	function sousuo(){

 		var goods_name = $("#goods_name").val();

 		if (!$.trim(goods_name)) {

 			alert('请输入商品名称');

 			return false
 		}

 		window.location.href = "{:url('Index/sousuo')}" + '?goods_name=' + goods_name
 	}
 </script>
 
 
{include file="common/footer"}
