{include file="common/header"}

<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">门店简介</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<div style="width: 100%;">
    <img style="width: 100%; height: auto;" src="{$store['banner1']}"/>
</div>
<div class="ZLY_XingQing">
    <div style=" padding: 20px 0;width:100%;">
        <p><i class="fa fa-phone fa-lg" style="padding: 0 10px"></i>电话：{$store['phone_number']}</p>
        <p><i class="fa fa-map-marker fa-lg" style="padding: 0 10px"></i>地址：{$store['address']}</p>
        <p><i class="fa fa-clock-o fa-lg" style="padding: 0 10px"></i>营业时间：{$store['business_hours_desc']}</p>
    </div>
    <div style="background: #ffffff; padding: 10px; border-radius: 5px; font-size: 1.3rem;">
        <p>
            名称：{$store['store_name']}
        </p>
        <!-- <p>
            活动时间：2018-11-1至2019-12-1
        </p>
        <p>
            适用范围：华润万家东北地区全部门店
        </p> -->
        <p>
            {$store['store_desc']}
        </p>
    </div>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4 Icon-Name">
        <li>
            <a href="{:url('Index/index')}" class="curr">
                <span class="iconfont icon-bank-card-type"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}">
                <span class="iconfont icon-xin-1"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="iconfont icon-paihangbang"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}">
                <span class="iconfont icon-qiaquan1"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}" class="">
                <span class="iconfont icon-Personalcenter"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
{include file="common/footer"}