{include file="common/header"}
<title>{$title}</title>
		<!--<header data-am-widget="header" class="am-header am-header-default sq-head ">-->
			<!--<div class="am-header-left am-header-nav">-->
				<!--<a href="javascript:history.back()" class="">-->
					<!--<i class="am-icon-chevron-left"></i>-->
				<!--</a>-->
			<!--</div>-->
			<!--<h1 class="am-header-title">-->
  	            <!--<a href="" class="">{$title}</a>-->
            <!--</h1>-->
	    <!--</header>-->
	    <!--<div style="height: 49px;"></div>-->
	    <ul class="city-list">
	    	{foreach name="store_list" item="vo"}
			<li {if condition="$vo['class'] eq 1"}class="curr"{/if}><a href="{:url('Index/index',['store_id' => $vo['store_id']])}">{$vo['store_name']}<i style="font-style:normal;">距您{$vo['juli']}km</i></a></li>
			{/foreach}
	    </ul>
	</body>
</html>
