{include file="common/header"}
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">选择城市</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="city-list">
	    	{foreach name="region" item="vo" key="k"}
		    	<li {if condition="$k==0"}class="curr"{/if}><a href="{:url('Index/index')}">{$vo['region_name']}</a></li>
		    	<!-- <li><a href="">长沙</a></li>
		    	<li><a href="">北京</a></li> -->
	    	{/foreach}
	    </ul>
	</body>
</html>
