{include file="common/header"}
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">{$title}</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="city-list">
	    	<li class="curr"><a href="">沈阳十三纬路店<i style="font-style:normal;">距您1000kg</i></a></li>
			<li><a href="">沈阳十三纬路店<i style="font-style:normal;">距您1000kg</i></a></li>
			<li><a href="">沈阳十三纬路店<i style="font-style:normal;">距您1000kg</i></a></li>
	    </ul>
	</body>
</html>
