<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>控烟知识竞答</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="">
<link href="https://cdn.bootcss.com/layer/3.0.1/mobile/need/layer.css" rel="stylesheet">
    <!-- light7_base -->
    <link rel="stylesheet" href="__CSS__/light7.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>
    <!-- <div class="next" style="width: 50px;height: 50px;position: static;z-index: 888888"> 下一题</div> -->

<body >
    <div class="page">
        <div class="content ti-page">
             <div class="time">
               
            </div>
            <div class="dati">
                   
            </div>
           

            <div>
            
            </div>

        </div> 
        
        
     
        <!-- content -->
    </div>
        

    <!-- page -->


    <script type='text/javascript' src='__JS__/jquery-1.8.3.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__JS__/light7.js' charset='utf-8'></script>
    <script src="https://cdn.bootcss.com/layer/3.0.1/layer.js"></script>
    <script src="__JS__/my.js"></script>
    <script>
      var openid = '{$openid}';
      var intDiff = parseInt(900);//倒计时总秒数量
      var ssss= setInterval(function() {
       var day = 0,
           hour = 0,
           minute = 0,
           second = 0; 
         if (intDiff > 0) {
              day = Math.floor(intDiff / (60 * 60 * 24));
              hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
              minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
              second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
         }else if(intDiff <=0){
        clearInterval(ssss);
             layer.open({
                  content: '很遗憾，时间已到',
                  end : function(index, layero){
                    //do something
                    window.location.href = '/home/index/check?openid=' + openid;
                  },

                }); 
                
        }
         if (minute <= 9)
          minute = '0' + minute;
         if (second <= 9)
          second = '0' + second;
        document.getElementById("timer").innerHTML = minute + "分" + second + "秒";
         intDiff--;
    }, 1000);
        num = 0;
        anserws = '';
         $(document).ready(function(){
             $.ajax({
                    type: "GET",
                    url: "{:url('competition_ajax')}",
                    data: {},
                    dataType: "json",
                    success: function(data){
                       anserws = data;
                       $('.time').html('<div class="sel-time" style="z-index:1000" >'+ 
            '<img src="__IMAGES__/ti_12.png" class="img-time" alt="">'+
            ' <p id="timer"></p>'+
            '</div>');
                       set_problem(anserws[num],num);
                    }   
             });
         
        });

         function set_problem(data,num){
            var html = '<div class="rel">'+
            '<img src="__IMAGES__/ti_01.png" class="fu-img" alt="">'+
            '<div class="jindu abs">' + (num + 1) + '/10</div>'+
            '</div>'+
            '<p class="sel-titt">' + (num+1) +'.'+ data.problem + '</p>'+
            '<div class="btn-size sel-btn " data-id = "A" >A.'+
               data.A +
            '</div>'+
            '<div class="btn-size sel-btn " data-id = "B" >B.'+
                data.B +
            '</div>'+
            '<div class="btn-size sel-btn " data-id = "C" >C.'+
                data.C +
            '</div>'+
            '<div class="btn-size sel-btn " data-id = "D" >D.'+
                data.D+
            '</div>';
           
          
             
           
            $('.dati').html(html);
             $('.sel-btn').click(function(){ 
                //alert(data.id);
                //alert($(this).data('id'));
                $(this).addClass('dui');
                var tiid  =  data.id;
                var choose = $(this).data('id');
                var openid = '{$openid}';
                $.ajax({
                    type: "GET",
                    url: "{:url('judge_ajax')}?openid={$openid}",
                    data: {tiid:tiid,choose:choose},
                    dataType: "json",
                    success: function(data){
                         if(num == 9 && data.cuo==0){
                            if(data.send_state==0){
                                window.location.href = '/home/index/jiang?openid=' + openid;
                            }else if(data.send_state=="1"){
                                layer.open({
                                  content: '好厉害啊！又一次全部正确',
                                  end: function(index, layero){
                                    
                                    window.location.href="/home/index/jiajiang?openid=" + openid;
                                  }
                                });
                            } 
                         }else if(num == 9 && data.cuo ==1){
                            layer.open({
                              content: '很遗憾，没有全部答对',
                              end : function(index, layero){
                                window.location.href = '/home/index/check?openid=' + openid;
                              },

                            });     
                                                         
                        }
                    }   
                    });
                    setTimeout("next()",200);
             });
         }
            function next(){
                       num++; 
                set_problem(anserws[num],num);
            }
    </script>
}
</body>

</html>