{include file="common/header"}
<!--图片轮换-->
<div>
    <header data-am-widget="header" class="am-header am-header-default tm1-head" id="shortbar" >
        <div class="am-header-left am-header-nav">
            <a href="{:url('Index/city')}" class="">
                <img src="__IMAGES__/city.png" />
                <p class="dingwei-color">沈阳</p>
            </a>
       </div>
        <h1 class="am1-header-title1">
           {$title}
        </h1>
    </header>
</div>
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0" style="position: relative;">
	<header data-am-widget="header" class="am-header am-header-default tm-head" id="shortbar" >
        <div class="am-header-left am-header-nav" id="store_name">

        </div>
        <div class="am-header-right am-header-nav" id="mendian">
            
        </div>
    </header>
  <ul class="am-slides" id="Advertisement">
  <li> <a href="" ><img src="/uploads/member/20190113\63281744935b39e778f23caf040880b8.png" /></a></li>
  </ul>
</div>
<ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  id="goods_list">
    
    
</ul>
<!--导航-->
 <ul class="sq-nav"  >
     <div class="List-head" style="padding: 0 3px;">
         <h1 class="List-head-name">产品分类</h1>
         <a href="{:url('Index/category')}" class="List-head-more">更多分类<i class="fa fa-chevron-circle-right fa-lg"></i></a>
     </div>
     <p id="goods_type_list">
     
     </p>
      <li>
        <div class="am-gallery-item">
            <a href="{:url('Index/category')}" class="">
              <img src="__IMAGES__/icon7.png" />
              <p>全部</p>
            </a>
        </div>
      </li>
  </ul>
 <!--活动图片-->
    <div class="sq-title" id="activity">
       
    </div>
    <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  id="goods_top_list">
        
    </ul>

 <div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="{:url('Index/index')}" class="curr">
                <span class="am-icon-home fa fa-credit-card fa-lg"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}">
                <span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="">
                <span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}">
                <span class="am-icon-user fa fa-user-o fa-lg"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
 <input type="hidden" id="store_id" value="{$store_id}">
 <!--<div style="height: 55px;"></div>
 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li>
            <a href="index.html" class="curr">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="category.html" class="">
                <span class="am-icon-th-large"></span>
                <span class="am-navbar-label">分类</span>
            </a>
          </li>

          <li>
            <a href="shopcart.html" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
          </li>
          <li>
            <a href="login.html" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的55</span>
            </a>
          </li>
      </ul>
</div>-->
<script type="text/javascript">
    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                var speed = res.speed; // 速度，以米/每秒计
                var accuracy = res.accuracy; // 位置精度

                getinfo(latitude,longitude)
            },
            error: function (error) {

            }
        });
    });
var store_id = $("#store_id").val()

getinfo()
    function getinfo(latitude,longitude){

        $.post("{:url('Index/ajax_index')}",{latitude: latitude, longitude: longitude,store_id: store_id},function(res){

            var store = res.data.store
            var Advertisement = res.data.Advertisement
            var goods_list = res.data.goods_list
            var goods_type_list = res.data.goods_type_list
            var goods_top_list = res.data.goods_top_list
            var activity = res.data.activity

            var store_name = '<a href="{:url("Index/city_info")}?id='+store.store_id+'"><p style="font-size: 12px; margin-top: -35px;">'+store.store_name+'</p></a>';

            $("#store_name").append(store_name);

            var mendian_html = ''

            mendian_html += '<a href="{:url("Index/cityDian")}?store_id='+store.store_id+'" >';
            mendian_html +=  '<p style="font-size: 12px; margin-top: -35px;">更多门店></p>';
            mendian_html += '</a>';

            $("#mendian").html('')
            $("#mendian").append(mendian_html)

            var Advertisement_html = '';
            for (i in Advertisement) {
                Advertisement_html += '<li> <a href="'+Advertisement[i].url+'" ><img src="'+Advertisement[i].image+'" /></a></li>';
            }
            console.log(Advertisement_html)
            // $("#Advertisement").html('');
            $("#Advertisement").append(Advertisement_html);

            var goods_list_html = '';
                goods_list_html +='<div class="List-head">';
                goods_list_html +=    '<h1 class="List-head-name">推荐爆款</h1>';
                goods_list_html +=    '<a href="{:url("Index/tuijian")}"  class="List-head-more">更多爆款<i class="fa fa-chevron-circle-right fa-lg"></i></a>';
                goods_list_html +='</div>';
            for (i in goods_list) {
                goods_list_html += '<li>';
                goods_list_html +=    '<div class="am-gallery-item">';
                goods_list_html +=        '<a href="{:url("Index/detail")}?id='+goods_list[i].id+'" class="">';
                goods_list_html +=            '<img src="'+goods_list[i].goods_images+'" />';
                goods_list_html +=            '<h3 class="am-gallery-title">'+goods_list[i].goods_name+'</h3>';
                goods_list_html +=            '<div class="am-gallery-desc am-gallery-yuan">原价￥'+goods_list[i].goods_original_price+'</div>';
                goods_list_html +=            '<div class="am-gallery-desc">折扣价￥'+goods_list[i].goods_present_price+'</div>';
                goods_list_html +=        '</a>';
                goods_list_html +=    '</div>';
                goods_list_html += '</li>';
            }
            $("#goods_list").html('')
            $("#goods_list").append(goods_list_html)

            var goods_type_list_html = ''
            for (i in goods_type_list) {

                goods_type_list_html += '<li>';
                goods_type_list_html +=     '<div class="am-gallery-item">';
                goods_type_list_html +=         '<a href="{:url("Index/category")}" class="">';
                goods_type_list_html +=            '<img src="'+goods_type_list[i].url+'" />';
                goods_type_list_html +=            '<p>'+goods_type_list[i].goods_type_name+'</p>';
                goods_type_list_html +=          '</a>';
                goods_type_list_html +=       '</div>';
                goods_type_list_html +=  '</li>';
            }

            $("#goods_type_list").html('')
            $("#goods_type_list").append(goods_type_list_html)

            var goods_top_list_html = '';

            for (i in goods_top_list) {

                goods_top_list_html += '<li class="Active-area">';
                goods_top_list_html +=    '<div class="am-gallery-item">';
                goods_top_list_html +=        '<a href="{:url("Index/detail")}?id='+goods_top_list[i].id+'" class="">';
                goods_top_list_html +=            '<img src="'+goods_top_list[i].goods_images+'" />';
                goods_top_list_html +=            '<h3 class="am-gallery-title">'+goods_top_list[i].goods_name+'</h3>';
                goods_top_list_html +=            '<div class="am-gallery-desc am-gallery-yuan">原价￥'+goods_top_list[i].goods_original_price+'</div>';
                goods_top_list_html +=            '<div class="am-gallery-desc">折扣价￥'+goods_top_list[i].goods_present_price+'</div>';
                goods_top_list_html +=        '</a>';
                goods_top_list_html +=    '</div>';
                goods_top_list_html += '</li>';
            }

            $("#goods_top_list").html('')
            $("#goods_top_list").append(goods_top_list_html)

            var activity_html = ''
            activity_html += '<a href="{:url("Activity/lq_huodong")}?id='+activity.id+'">';
            activity_html +=    '<img src="'+activity.activity_url+'" width="24"/>';
            activity_html += '</a>';

            $("#activity").html('')
            $("#activity").append(activity_html)
        })
    }
</script>
{include file="common/footer"}
 
 
 

