<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/reset.css" type="text/css" rel="stylesheet">
  <link href="assets/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="blue_top"></div>
<div class="banner"><img src="assets/images/topbg.gif"></div>
<div class="container">
  <div class="content wh90">
    <div class="content_main">
      <p><b>主办单位：</b>辽宁省卫生和计划生育委员会</p>
      <p><b>承办单位：</b>辽宁省卫生与人口健康教育中心</p>
      <p><b>　　　　　</b>辽宁省12320卫生计生热线</p>
    </div>
  </div>
  <div class="circle wh90">
    <ul>
      <li><a href=""><img src="assets/images/cirle2.png" alt=""></a></li>
      <li><a href=""><img src="assets/images/cirle1.png" alt=""></a></li>
      <li><a href=""><img src="assets/images/cirle3.png" alt=""></a></li>
    </ul>
  </div>
  <img class="myhand" src="assets/images/hand.png" alt="">
</div>
<div class="blue_bottom"></div>
</body>
</html>