{include file="common/header"}
<!--图片轮换-->
<div>
    <header data-am-widget="header" class="am-header am-header-default tm1-head" id="shortbar" >
        <div class="am-header-left am-header-nav">
            <a href="city.html" class="">
                <img src="__IMAGES__/city.png" />
                <p class="dingwei-color">沈阳</p>
            </a>
       </div>
        <h1 class="am1-header-title1">
           {$title}
        </h1>
    </header>
</div>
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0" style="position: relative;">
	<header data-am-widget="header" class="am-header am-header-default tm-head" id="shortbar" >
        <div class="am-header-left am-header-nav">
            <a href="{:url('Index/city_info',['id' => $store['store_id']])}">
                <p style="font-size: 12px; margin-top: -35px;" id="store_name">{$store['store_name']}</p>
            </a>
        </div>
        <div class="am-header-right am-header-nav">
            <a href="{:url('Index/cityDian')}" >
                <p style="font-size: 12px; margin-top: -35px;">更多门店></p>
            </a>
        </div>
    </header>
  <ul class="am-slides" id="Advertisement">
    {foreach name="Advertisement" item="vo"}
    <li> <a href="{$vo['url']}" ><img src="{$vo['image']}" /></a></li>
    {/foreach}
  </ul>
</div>
<ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
    <div class="List-head">
        <h1 class="List-head-name">推荐爆款</h1>
        <a href="Tuijian.html"  class="List-head-more">更多爆款<i class="fa fa-chevron-circle-right fa-lg"></i></a>
    </div>
    <p id="goods_list">
    {foreach name="goods_list" item="vo" key="k" }
    <li>
        <div class="am-gallery-item">
            <a href="{:url('Index/detail',['id' => $vo['id']])}" class="">
                <img src="{$vo['goods_images']}" />
                <h3 class="am-gallery-title">{$vo['goods_name']}</h3>
                <div class="am-gallery-desc am-gallery-yuan">原价￥{$vo['goods_original_price']}</div>
                <div class="am-gallery-desc">折扣价￥{$vo['goods_present_price']}</div>
            </a>
        </div>
    </li>
    {/foreach}
    </p>
</ul>
<!--导航-->
 <ul class="sq-nav"  >
     <div class="List-head" style="padding: 0 3px;">
         <h1 class="List-head-name">产品分类</h1>
         <a href="{:url('Index/category')}" class="List-head-more">更多分类<i class="fa fa-chevron-circle-right fa-lg"></i></a>
     </div>
     <p id="goods_type_list">
     {foreach name="goods_type_list" item="vo" key="k" }
      <li>
        <div class="am-gallery-item">
            <a href="{:url('Index/category')}" class="">
              <img src="{$vo['url']}" />
              <p>{$vo['goods_type_name']}</p>
            </a>
        </div>
      </li>
     {/foreach}
     </p>
      <li>
        <div class="am-gallery-item">
            <a href="{:url('Index/category')}" class="">
              <img src="__IMAGES__/icon7.png" />
              <p>全部</p>
            </a>
        </div>
      </li>
  </ul>
 <!--活动图片-->
    <div class="sq-title" id="activity">
        <!-- <a href="{:url('Activity/lq_huodong',['id' => $activity['id']])}">
        <img src="{$activity['activity_url']}" width="24"/>
        </a> -->
    </div>
    <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  id="goods_top_list">
        {foreach name="goods_top_list" item="vo" key="k" }
        <li class="Active-area">
            <div class="am-gallery-item">
                <a href="{:url('Index/detail',['id' => $vo['id']])}" class="">
                    <img src="{$vo['goods_images']}" />
                    <h3 class="am-gallery-title">{$vo['goods_name']}</h3>
                    <div class="am-gallery-desc am-gallery-yuan">原价￥{$vo['goods_original_price']}</div>
                    <div class="am-gallery-desc">折扣价￥{$vo['goods_present_price']}</div>
                </a>
            </div>
        </li>
        {/foreach}
       <!--  <li class="Active-area">
            <div class="am-gallery-item">
                <a href="detail.html" class="">
                    <img src=" __IMAGES__/test.png" />
                    <h3 class="am-gallery-title">猪骨头棒新鲜生鲜肉制品猪大骨头筒骨熬汤佳品500g</h3>
                    <div class="am-gallery-desc am-gallery-yuan">原价￥52</div>
                    <div class="am-gallery-desc">折扣价￥52</div>
                </a>
            </div>
        </li>
        <li class="Active-area">
            <div class="am-gallery-item">
                <a href="detail.html" class="">
                    <img src=" __IMAGES__/test.png" />
                    <h3 class="am-gallery-title">猪骨头棒新鲜生鲜肉制品猪大骨头筒骨熬汤佳品500g</h3>
                    <div class="am-gallery-desc am-gallery-yuan">原价￥52</div>
                    <div class="am-gallery-desc">折扣价￥52</div>
                </a>
            </div>
        </li> -->
    </ul>

 <div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="{:url('Index/index')}" class="curr">
                <span class="am-icon-home fa fa-credit-card fa-lg"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}">
                <span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="">
                <span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}">
                <span class="am-icon-user fa fa-user-o fa-lg"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
 
 <!--<div style="height: 55px;"></div>
 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li>
            <a href="index.html" class="curr">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="category.html" class="">
                <span class="am-icon-th-large"></span>
                <span class="am-navbar-label">分类</span>
            </a>
          </li>

          <li>
            <a href="shopcart.html" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
          </li>
          <li>
            <a href="login.html" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的55</span>
            </a>
          </li>
      </ul>
</div>-->
<script type="text/javascript">
    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                var speed = res.speed; // 速度，以米/每秒计
                var accuracy = res.accuracy; // 位置精度

                getinfo(latitude,longitude)
            },
            error: function (error) {

            }
        });
    });

    function getinfo(latitude,longitude){

        $.post("{:url('Index/ajax_index')}",{latitude: latitude, longitude: longitude},function(res){

            var store = res.data.store
            var Advertisement = res.data.Advertisement
            var goods_list = res.data.goods_list
            var goods_type_list = res.data.goods_type_list
            var goods_top_list = res.data.goods_top_list
            var activity = res.data.activity

            $("#store_name").text(store.store_name);

            var Advertisement_html = '';
            for (i in Advertisement) {
                html += '<li> <a href="'+Advertisement[i].url+'" ><img src="'+Advertisement[i].image+'" /></a></li>';
            }
            $("#Advertisement").html('');
            $("#Advertisement").append(Advertisement_html);

            var goods_list_html = '';

            for (i in goods_list) {
                html += '<li>';
                html +=    '<div class="am-gallery-item">';
                html +=        '<a href="{:url("Index/detail")}?id='+goods_list[i].id+'" class="">';
                html +=            '<img src="'+goods_list[i].goods_images+'" />';
                html +=            '<h3 class="am-gallery-title">'+goods_list[i].goods_name+'</h3>';
                html +=            '<div class="am-gallery-desc am-gallery-yuan">原价￥'+goods_list[i].goods_original_price+'</div>';
                html +=            '<div class="am-gallery-desc">折扣价￥'+goods_list[i].goods_present_price+'</div>';
                html +=        '</a>';
                html +=    '</div>';
                html += '</li>';
            }
            $("#goods_list_html").html('')
            $("#goods_list_html").append(goods_list_html)

            var goods_type_list_html = ''

            for (i in goods_type_list) {

                html += '<li>';
                html +=     '<div class="am-gallery-item">';
                html +=         '<a href="{:url("Index/category")}" class="">';
                html +=            '<img src="{$vo['url']}" />';
                html +=            '<p>{$vo['goods_type_name']}</p>';
                html +=          '</a>';
                html +=       '</div>';
                html +=  '</li>';
            }

            $("#goods_type_list").html('')
            $("#goods_type_list").append(goods_type_list_html)

            var goods_top_list_html = '';

            for (i in goods_top_list) {

                html += '<li class="Active-area">';
                html +=    '<div class="am-gallery-item">';
                html +=        '<a href="{:url("Index/detail")}?id='+goods_top_list[i].id+'" class="">';
                html +=            '<img src="'+goods_top_list[i].goods_images+'" />';
                html +=            '<h3 class="am-gallery-title">'+goods_top_list[i].goods_name+'</h3>';
                html +=            '<div class="am-gallery-desc am-gallery-yuan">原价￥'+goods_top_list[i].goods_original_price+'</div>';
                html +=            '<div class="am-gallery-desc">折扣价￥'+goods_top_list[i].goods_present_price+'</div>';
                html +=        '</a>';
                html +=    '</div>';
                html += '</li>';
            }

            $("#goods_top_list").html('')
            $("#goods_top_list").append(goods_top_list_html)

            var activity_html = ''
            activity_html += '<a href="{:url("Activity/lq_huodong",['id' => $activity['id']])}">';
            activity_html +=    '<img src="'+activity.activity_url+'" width="24"/>';
            activity_html += '</a>';

            $("#activity").html('')
            $("#activity").append(activity_html)
        })
    }
</script>
{include file="common/footer"}
 
 
 

