{include file="common/header"}
<title>{$Activity['activity_name']}</title>
<div class="LQ_Box">
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <!-- <h1 class="am-header-title">
            <a href="" class=""> </a>
        </h1>
    </header>
    <div style="height: 49px;"></div>-->
    <!--<header class="LQ_head">
        <p>
            {$Activity['activity_name']}
        </p>
    </header>-->
    <input type="hidden" id="activity_id" value="{$Activity['id']}">
    <div class="LQ_info">
        <!--<img class="HD_TuPian" src="{$Activity['activity_url']}"/>-->
        <div class="LQ_HDbox">
            {$Activity['activity_detail']}
        </div>
        <span class="lingqu" style="color: #ffffff;background: #ff4f5f; display: block; width: 60%; margin: 20px auto;font-size: 2rem;text-align: center; padding: 8px 0;">
            领取优惠券
        </span>
    </div>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4 Icon-Name">
        <li>
            <a href="{:url('Index/index')}">
                <span class="iconfont icon-bank-card-type"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}" class="curr">
                <span class="iconfont icon-xin-1"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="iconfont icon-paihangbang"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="">
                <span class="iconfont icon-qiaquan1"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}" class="">
                <span class="iconfont icon-Personalcenter"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    var activity_id = $("#activity_id").val();
    $(".lingqu").click(function(){
        $.post("{:url('Index/collection_and_coupons_update')}",{goods_id: activity_id, type: 3},function(res){
            alert(res.msg)
        })
    })
</script>
{include file="common/footer"}