{include file="common/header"}
<!--图片轮换-->
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">推荐爆款</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0" style="position: relative;">
    <ul class="am-slides">
        {foreach name="Advertisement" item="vo"}
        <li><a href="{$vo['url']}"><img src="{$vo['image']}" /></li></a>
        {/foreach}
    </ul>
</div>
<div class="">
    <div class="List-head" style="padding: 0 10px; margin-top: 10px;">
        <h1 class="List-head-name">爆款产品</h1>
    </div>
    <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
        {foreach name="goods_list" item="vo"}
        <li class="RQPH-area">
            <div class="am-gallery-item">
                <a href="{:url('Index/detail',['id' => $vo['id']])}" class="">
                    <img src="{$vo['goods_images']}" />
                    <h3 class="am-gallery-title">第{$vo['key']}名</h3>
                    <div class="am-gallery-desc am-gallery-color">{$vo['goods_name']}</div>
                    <!-- <div class="am-gallery-desc am-gallery-yuan">推荐产品</div> -->
                </a>
            </div>
        </li>
        {/foreach}
    </ul>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="{:url('Index/index')}" class="curr">
                <span class="am-icon-home fa fa-credit-card fa-lg"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}">
                <span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="">
                <span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}" class="">
                <span class="am-icon-user fa fa-user-o fa-lg"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
{include file="common/footer"}