{include file="common/header"}
<title>{$title}</title>
<!--<header data-am-widget="header" class="am-header am-header-default sq-head ">-->
   <!--&lt;!&ndash;&lt;!&ndash;  <div class="am-header-left am-header-nav">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="javascript:history.back()" class="">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="am-icon-chevron-left"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div> &ndash;&gt;&ndash;&gt;-->
    <!--<h1 class="am-header-title">-->
        <!--<a href="" class=""></a>-->
    <!--</h1>-->
<!--</header>-->
<!--<div style="height: 42px;" class="title_name">{$title}</div>-->
<div class="XFX-box">
    <ul class="XFX-list">

        <!--这部分是循环体-->

        {foreach name="NewDiscovery" item="vo" key="k"}
        <li class="List-faxian">
            <a href="{$vo['url']}">
                <img src="{$vo['src']}">
            </a>
        </li>
        {/foreach}

        <!--这部分是循环体-->

        <!--<li class="List-faxian">-->
            <!--<a href="http://huaruncard.redh5.cn/home/Activity/lq_huodong/id/391">-->
                <!--<img src="http://huaruncard.redh5.cn/static/home/images/x1.jpg">-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="List-faxian">-->
            <!--<a href="http://huaruncard.redh5.cn/home/Activity/lq_huodong/id/334">-->
                <!--<img src="http://huaruncard.redh5.cn/static/home/images/x2.jpg">-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="List-faxian">-->
            <!--<a href="http://huaruncard.redh5.cn/home/Activity/activity_default/id/7">-->
                <!--<img src="http://huaruncard.redh5.cn/static/home/images/x3.jpg">-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="List-faxian">-->
            <!--<a href="http://huaruncard.redh5.cn/home/Activity/activity_default/id/6">-->
                <!--<img src="http://huaruncard.redh5.cn/static/home/images/x4.jpg">-->
            <!--</a>-->
        <!--</li> -->
        <!--<li class="List-faxian">-->
            <!--<a href="http://huaruncard.redh5.cn/home/Activity/activity_default/id/9">-->
                <!--<img src="http://huaruncard.redh5.cn/static/home/images/x5.jpg">-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="List-faxian">-->
            <!--<a href="http://huaruncard.redh5.cn/home/Activity/lq_huodong/id/274">-->
                <!--<img src="http://huaruncard.redh5.cn/static/home/images/x6.jpg">-->
            <!--</a>-->
        <!--</li>-->
    </ul>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4 Icon-Name">
        <li>
            <a href="{:url('Index/index')}">
                <span class="iconfont icon-bank-card-type"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}" class="curr">
                <span class="iconfont icon-xin-1"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="iconfont icon-paihangbang"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="">
                <span class="iconfont icon-qiaquan1"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}" class="">
                <span class="iconfont icon-Personalcenter"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
{include file="common/footer"}