{include file="common/header"}
<!--<header data-am-widget="header" class="am-header am-header-default sq-head ">-->
    <!--<div class="am-header-left am-header-nav">-->
        <!--<a href="javascript:history.back()" class="">-->
            <!--<i class="am-icon-chevron-left"></i>-->
        <!--</a>-->
    <!--</div>-->
    <!--<h1 class="am-header-title">-->
        <!--<a href="" class="">全部卡券</a>-->
    <!--</h1>-->
<!--</header>-->
<div style="height: 42px;" class="title_name">全部卡券</div>
<div class="quan-box" style="display: block;">
    <ul class="pingtai">
        {volist name="coupon_type_pt_list" id="vo"}
        <li class="pingtai-list">
            <div class="jinE pingtai-jinE">
                <h1><i>￥</i>{$vo.face_value}</h1>
                <p>平台卡券</p>
            </div>
            <div class="pingtai-info">
                <p>{$vo.ticket_name}</p>
                <div class="pingtai-function">
                    <span>有效期：{$vo.end_time_desc}</span>
                    <!--<a class="pingtai-btn" href="{:url('Coupon/coupon_type_info',['card_type_id' => $vo['card_type_id']])}">立即领取</a>-->
                    <a class="pingtai-btn" href="javascript:get_coupon({$vo.card_type_id})">立即领取</a>
                </div>
            </div>
        </li>
        {/volist}
    </ul>
    <ul class="danpin">
        {volist name="coupon_type_dp_list" id="vo"}
        <li class="danpin-list">
            <div class="jinE danpin-jinE">
                <h1><i>￥</i>{$vo.face_value}</h1>
                <p>单品卡券</p>
            </div>
            <div class="danpin-info">
                <div class="danpin-product">
                    <img src="{$vo.goods_img}">
                </div>
                <div class="danpin-function">
                    <p>{$vo.ticket_name}</p>
                    <span>有效期：{$vo.end_time_desc}</span>
                </div>
                <!--<a class="danpin-btn" href="{:url('Coupon/coupon_type_info',['card_type_id' => $vo['card_type_id']])}">立即领取</a>-->
                <a class="danpin-btn" href="javascript:get_coupon({$vo.card_type_id})">立即领取</a>
            </div>
        </li>
        {/volist}
    </ul>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="{:url('Index/index')}">
                <span class="am-icon-home fa fa-credit-card fa-lg"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}">
                <span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="curr">
                <span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}" class="">
                <span class="am-icon-user fa fa-user-o fa-lg"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript">
function get_coupon(card_type_id){
    $.ajax({

        type: "POST",

        url: "{:url('Coupon/receive_type_coupon')}",

        data: {card_type_id:card_type_id},

        dataType: "json",

        success: function(data){
            alert(data.msg)
        }

    });
}
</script>
{include file="common/footer"}