{include file="common/header"}
<title>全部卡券</title>

<!--手机登录-->
<!--<div class="XinXi_box">
    <div class="XinXi">
        <h1 class="name_title">手机登录</h1>
        <span class="iconfont icon-cha Cha_btn"></span>
        <div class="ytafg">
            <i class="iconfont icon-shouji1"></i>
            <input type="text" name="mobilephone" id="mobilephone" value="" placeholder="请输入手机号" class="login-password">
        </div>
        <div class="yzm">
            <i class="iconfont icon-mima1"></i>
            <input type="text" name="code" id="code" value="" class="reg-yzm" placeholder="输入验证码" />
            <input type="button" class="yzm-hq" value="获取验证码" />
        </div>

        <input type="button" class="login-btn" value="立即提交">
    </div>
</div>-->
<!--手机登录-->
<style>
    .shoucang_box{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    .shoucang_info{
        width: 60%;
        height: 16rem;
        position: absolute;
        left: 20%;
        top:50%;
        margin-top: -10rem;
        z-index: 10;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0,0,0,0.7);
        overflow: hidden;
        background: #fff;
    }
    .shoucang_info img{
        display: block;
        margin: 0 auto;height: 12rem;
    }
    .shoucang_info p{
        width: 100%;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        font-size: 2rem;
        background: #ff5500;
        color: #fff;
        text-indent: 10px;
    }
</style>
<!--收藏成功弹出层-->
    <div class="shoucang_box">
        <div class="shoucang_info">
            <img src="http://huaruncard.redh5.cn/static/home/images/youhuijuan.png">
            <p id="close">确定</p>
        </div>
    </div>
<!--收藏成功弹出层-->
<!--<header data-am-widget="header" class="am-header am-header-default sq-head ">-->
    <!--<div class="am-header-left am-header-nav">-->
        <!--<a href="javascript:history.back()" class="">-->
            <!--<i class="am-icon-chevron-left"></i>-->
        <!--</a>-->
    <!--</div>-->
    <!--<h1 class="am-header-title">-->
        <!--<a href="" class="">全部卡券</a>-->
    <!--</h1>-->
<!--</header>-->
<div class="quan-box" style="display: block;">
    <ul class="pingtai">
        {volist name="coupon_type_pt_list" id="vo"}
        {if condition="$vo['num_status'] eq 1"}
        <li class="pingtai-list">
            <div class="jinE pingtai-jinE">
                <h1><i>￥</i>{$vo.face_value}</h1>
                <p>平台卡券</p>
            </div>
            <div class="pingtai-info">
                <p>{$vo.ticket_name}</p>
                    <em>{$vo.des}</em>
                <div class="pingtai-function">
                    <span>有效期：{$vo.end_time_desc}</span>
                    <!--<a class="pingtai-btn" href="{:url('Coupon/coupon_type_info',['card_type_id' => $vo['card_type_id']])}">立即领取</a>-->
                    <a class="pingtai-btn" href="javascript:get_coupon({$vo.card_type_id})">立即领取</a>
                </div>
            </div>
        </li>
        {else /}
        <li class="pingtai-list" style="position: relative;">
            <div class="jinE pingtai-jinE">
                <h1><i>￥</i>{$vo.face_value}</h1>
                <p>平台卡券</p>
            </div>
            <div class="pingtai-info">
                <p>{$vo.ticket_name}</p><em>{$vo.des}</em>
                <div class="pingtai-function">
                    <span>有效期：{$vo.end_time_desc}</span>
                    <!-- <a class="pingtai-btn">立即使用</a> -->
                </div>
            </div>
            <div class="gy-pic"><img src="__IMAGES__/lingwan.png"/></div>
        </li>
        {/if}
        {/volist}
    </ul>
    <ul class="danpin">
        {volist name="coupon_type_dp_list" id="vo"}
        {if condition="($vo['num_status'] eq 1) AND ($vo['my_have_status'] eq 2)"}
        <li class="danpin-list" style="position: relative;">
            <div class="jinE danpin-jinE">
                <h1><i>￥</i>{$vo.face_value}</h1>
                <p>单品卡券</p>
            </div>
            <div class="danpin-info">
                <div class="danpin-product">
                    <img src="{$vo.goods_img}">
                </div>
                <div class="danpin-function">
                    <p>{$vo.ticket_name}</p>
                    <span>有效期：{$vo.end_time_desc}</span>
                </div>
                <a class="danpin-btn" href="javascript:get_coupon({$vo.card_type_id})">立即领取</a>
            </div>
        </li>
        {elseif condition="($vo['num_status'] eq 1) AND ($vo['my_have_status'] eq 1)"}
        <li class="danpin-list" style="position: relative;">
            <div class="jinE danpin-jinE">
                <h1><i>￥</i>{$vo.face_value}</h1>
                <p>单品卡券</p>
            </div>
            <div class="danpin-info">
                <div class="danpin-product">
                    <img src="{$vo.goods_img}">
                </div>
                <div class="danpin-function">
                    <p>{$vo.ticket_name}</p>
                    <span>有效期：{$vo.end_time_desc}</span>
                </div>

            </div>
            <div class="gy-pic"><img src="__IMAGES__/lingwan.png"/></div>
        </li>
        {elseif condition="$vo['num_status'] eq 2"}
        <li class="danpin-list" style="position: relative;">
            <div class="jinE danpin-jinE">
                <h1><i>￥</i>{$vo.face_value}</h1>
                <p>单品卡券</p>
            </div>
            <div class="danpin-info">
                <div class="danpin-product">
                    <img src="{$vo.goods_img}">
                </div>
                <div class="danpin-function">
                    <p>{$vo.ticket_name}</p>
                    <span>有效期：{$vo.end_time_desc}</span>
                </div>
                <a class="danpin-btn">已抢光</a>
            </div>

        </li>
        {/if}
        {/volist}
    </ul>
    
    <!--满减券-->
    <ul class="manjian">
        {volist name="coupon_type_pl_list" id="vo3"}
        {if condition="$vo3['my_have_status'] eq 2"}
        <li class="manjian-list">
            <div class="jinE manjian-jinE">
                <h1><i>￥</i>{$vo3.small_value}</h1>
                <p>满减卡券</p>
            </div>
            <div class="pingtai-info manjian-info">
                <p>{$vo3.ticket_name}</p>
                <em>{$vo3.des}</em>
                <div class="pingtai-function">
                    <span>有效期：{$vo3.end_time_desc}</span>
                    <a class="pingtai-btn lingqu_hide_{$vo3.card_type_id}" href="javascript:get_coupon({$vo3.card_type_id})">立即领取</a>
                </div>
            </div>
            <div class="gy-pic lingwan_{$vo3.card_type_id}" style="display: none;"><img src="__IMAGES__/lingwan.png"/></div>
        </li>
        {else /}
        <li class="manjian-list" style="position: relative;">
            <div class="jinE manjian-jinE">
                <h1><i>￥</i>{$vo3.small_value}</h1>
                <p>满减卡券</p>
            </div>
            <div class="pingtai-info manjian-info">
                <p>{$vo3.ticket_name}</p>
                <em>{$vo3.des}</em>
                <div class="pingtai-function">
                    <span>有效期：{$vo3.end_time_desc}</span>
                </div>
            </div>
            <div class="gy-pic"><img src="__IMAGES__/lingwan.png"/></div>
        </li>
        {/if}
        {/volist}
    </ul>
    <!--满减券-->
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4 Icon-Name">
        <li>
            <a href="{:url('Index/index')}">
                <span class="iconfont icon-bank-card-type"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}">
                <span class="iconfont icon-xin-1"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="iconfont icon-paihangbang"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="curr">
                <span class="iconfont icon-qiaquan1"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}" class="">
                <span class="iconfont icon-Personalcenter"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript">
function get_coupon(card_type_id){
    $.ajax({

        type: "POST",

        url: "{:url('Coupon/receive_type_coupon')}",

        data: {card_type_id:card_type_id},

        dataType: "json",

        success: function(data){
            // $(".lingwan_"+card_type_id).show()
            $(".lingqu_hide_"+card_type_id).hide()
            if(data.code == 200){
                $(".shoucang_box").show()
               
            }else if(data.code == 100){
                $(".shoucang_box").show()
            }else{
                $(".shoucang_box").show()
            }

        }

    });
}
//$(".Cha_btn").click(function() {
//    $(".XinXi_box").css("display","none");
//});
$("#close").click(function(){
  $(".shoucang_box").hide()
})
</script>
{include file="common/footer"}