{include file="common/header"}
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">卡券详情</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<div style="width: 100%;">
    <img style="width: 100%; height: auto;" src="{$info[0]['card_ticket_type_img']}"/>
</div>
<div class="ZLY_XingQing">
    <div style=" padding: 20px 0;width:100%;">
        <img class="TiaoMa" style="width: 70%;display: none; border: 0; margin: 0 auto;" src="images/ZLY_tiaoxing.jpg"/>
        <span class="Quan_btn" style="display: block; margin: 20px auto;width: 60%;padding: 10px 0;color:#fff;text-align: center;background:#ff4f5f; ">立即使用</span>
    </div>
    <div style="background: #ffffff; padding: 10px; border-radius: 5px; font-size: 1.3rem;">
        <p>
            卡券名称：{$info[0]['ticket_name']}
        </p>
        <p>
            活动时间：{$info[0]['start_time']|date='Y-m-d',###}至{$info[0]['end_time']|date='Y-m-d',###}
        </p>
        <p>
            适用范围：{$info[0]['scope_of_application']}
        </p>
        <p>
            使用说明：{$info[0]['instructions']}

        </p>
    </div>
</div>
<!--底部导航-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="{:url('Index/index')}">
                <span class="am-icon-home fa fa-credit-card fa-lg"></span>
                <span class="am-navbar-label">聚优惠</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/xfx')}">
                <span class="am-icon-th-large fa fa-heart-o fa-lg"></span>
                <span class="am-navbar-label">新发现</span>
            </a>
        </li>
        <li>
            <a href="{:url('Index/rqph')}">
                <span class="am-icon-shopping-cart fa fa-cubes fa-lg"></span>
                <span class="am-navbar-label">人气榜</span>
            </a>
        </li>
        <li>
            <a href="{:url('Coupon/coupon_list')}" class="curr">
                <span class="am-icon-shopping-cart fa fa-ticket fa-lg"></span>
                <span class="am-navbar-label">卡券</span>
            </a>
        </li>
        <li>
            <a href="{:url('Member/index')}" class="">
                <span class="am-icon-user fa fa-user-o fa-lg"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    <div style="width: 100px;height: 100px;">
        已使用
    </div>
</div>
<script>
    $(function () {
        $(".Quan_btn").click(function() {
            $(".TiaoMa").css("display","block");
            $(".Quan_btn").css("display","none");
        });

    });
</script>
{include file="common/footer"}