{include file="public/header"}
    <div class="x-body">
        <form class="layui-form">
        {if condition="$is_jurisdiction == 0"}
          <div class="layui-form-item">
            <label  for="store_id" class="layui-form-label">
              <span class="x-red">*</span>选择店铺
            </label>
            <div class="layui-input-block">
              <select name="store_id" lay-filter="store_id">
                <option value="0">请选择</option>
                {volist name="store" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
              </select>
            </div>
          </div>
        {/if}
          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>开始时间
              </label>
              <div class="layui-input-block">
                  <input type="text"  name="start_time" id="start_time"lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>结束时间
              </label>
              <div class="layui-input-block">
                  <input type="text" name="end_time" id="end_time"lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>问卷正文
              </label>
              <div class="layui-input-block">
                  <textarea type="text" id="questionnaire_text" name="questionnaire_text" lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>意见填写
              </label>
              <div class="layui-input-block">
                  <textarea type="text" id="opinion_completion" name="opinion_completion" lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">
                  <span class="x-red">*</span>选择问题
              </label>
              <table class="layui-table" id="demo" lay-filter="useruv">
                </table>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
     <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-mini" lay-event="edit">查看</a>
      </script>
    <script>
        layui.use(['form','layer','laydate', 'table'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
          ,table = layui.table
          ,laydate = layui.laydate;

        var store_id;
          //执行一个laydate实例
        laydate.render({
          elem: '#start_time' //指定元素
          ,type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end_time' //指定元素
          ,type: 'datetime'
        });

        //第一个实例
      var tableIns = table.render({
        elem: '#demo'
        ,method: 'post'
        ,defaultToolbar: ['filter', 'print', 'exports']
        // ,toolbar: 'default'
        // ,url: '/Admin/Statistical/ajax_item_bank_list' //数据接口
        // ,page: true //开启分页
        ,cellMinWidth : 95
        ,height : 300
        ,limit: 20
        ,id: 'idTest'
        ,cols: [[ //表头
           {checkbox: true, fixed: true,style:'height:100px;'}
          ,{field: 'id',  title: 'ID', sort: true ,align: 'center'}
          ,{field: 'type_name', title: '类型',align: 'center'}
          ,{field: 'problem', title: '问题',align: 'center'}
          ,{field: 'pid_name', title: '来自',align: 'center'}
          ,{field: 'create_time', title: '创建时间',align: 'center'}
          ,{field: 'right', title: '操作',toolbar:"#barDemo",align: 'center'}
        ]]
        ,data: {$list}
      });

      //监听工具条
        table.on('tool(useruv)', function(obj){
          var data = obj.data;
          if(obj.event === 'edit'){
             x_admin_show('查看','subject_see.html?id='+data.id,600,300);
          }
        });
         
         //监听选择店铺
         form.on('select(store_id)',function(data){
          store_id = data.value
          var tableIns = table.render({
            elem: '#demo'
            ,method: 'post'
            ,defaultToolbar: ['filter', 'print', 'exports']
            // ,toolbar: 'default'
            ,url: '/Admin/Statistical/problem_list?store_id='+data.value //数据接口
            // ,page: true //开启分页
            ,cellMinWidth : 95
            ,height : 300
            ,limit: 20
            ,id: 'idTest'
            ,cols: [[ //表头
               {checkbox: true, fixed: true,style:'height:100px;'}
              ,{field: 'id',  title: 'ID', sort: true ,align: 'center'}
              ,{field: 'type_name', title: '类型',align: 'center'}
              ,{field: 'problem', title: '问题',align: 'center'}
              ,{field: 'pid_name', title: '来自',align: 'center'}
              ,{field: 'create_time', title: '创建时间',align: 'center'}
              ,{field: 'right', title: '操作',toolbar:"#barDemo",align: 'center'}
            ]]
          });
         })

          form.on('checkbox(filter)', function(data){

            $(this).closest('tr').find('td').find('input').prop('checked',this.checked);
           
            form.render('checkbox');//渲染
          });

          //监听提交
          form.on('submit(add)', function(data){
            var checkStatus = table.checkStatus('idTest')
            ,data1 = checkStatus.data;
            if(data1 == ''){
              layer.msg('请添加问题', {icon: 1});
              return false;
            }
            var problem_id = [];
            for (var i = 0; i < data1.length; i++) {
              problem_id.push(data1[i].id)
            }
            data.field.problem_id = problem_id
            //发异步，把数据提交给php
            $.post('/Admin/Statistical/questionnaire_add', data.field, function(res){

                if(res.code == 200){
                    layer.alert(res.msg, {icon: 1},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);

                      //关闭当前frame
                      parent.layer.close(index);
                     
                      window.parent.location.reload();

                  });
                }else{
                  layer.msg(res.msg,{time: 1000});
                }
            })
            
            return false;
          });
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>