{include file="public/header"}
    <div class="x-body">
        <form class="layui-form">
        {if condition="$is_jurisdiction == 0"}
          <div class="layui-form-item">
            <label  for="store_id" class="layui-form-label">
              <span class="x-red">*</span>选择店铺
            </label>
            <div class="layui-input-block">
              <!-- <select name="store_id" lay-filter="store_id">
                <option value="0">请选择</option>
                {volist name="store" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
              </select> -->
              <dl class="checkmod">
              
                <input type="checkbox" lay-filter="filter" title="全选">
                {volist name="store" id="vo"}
                     <input type="checkbox" name="store_id[]" value="{$vo['id']}" title="{$vo.name}">
                {/volist}
              </dl>
            </div>
          </div>
        {/if}

          <div class="layui-form-item">
            <label  for="card_type_id" class="layui-form-label">
              <span class="x-red">*</span>选择优惠券
            </label>
            <div class="layui-input-block">
              <select name="card_type_id">
                <option value="0">请选择</option>
                {volist name="CouponType" id="vo"}
                    <option value="{$vo.card_type_id}">{$vo.ticket_name}</option>
                {/volist}
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">优惠券状态：</label>
            <div class="layui-input-block">
              <input type="checkbox" name="coupon_state" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
            </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>开始时间
              </label>
              <div class="layui-input-block">
                  <input type="text"  name="start_time" id="start_time"lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>结束时间
              </label>
              <div class="layui-input-block">
                  <input type="text" name="end_time" id="end_time"lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>问卷正文
              </label>
              <div class="layui-input-block">
                  <textarea type="text" id="questionnaire_text" name="questionnaire_text" lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>
              </div>
          </div>

          <div class="layui-form-item">
              <label for="activity_name" class="layui-form-label">
                  <span class="x-red">*</span>意见填写
              </label>
              <div class="layui-input-block">
                  <textarea type="text" id="opinion_completion" name="opinion_completion" lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>
              </div>
          </div>
          
          <div id="question">
            
          </div>
          <div class="layui-form-item">
            <div class="layui-btn layui-btn-xs radio_d">单选题</div>
            <div class="layui-btn layui-btn-xs checkbox_d">多选题</div>
            <div class="layui-btn layui-btn-xs text_d">文本题</div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  发布
              </button>
          </div>
      </form>
    </div>
     <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>
      </script>
    <script>
        layui.use(['form','layer','laydate', 'table'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
          ,table = layui.table
          ,laydate = layui.laydate;

          //执行一个laydate实例
        laydate.render({
          elem: '#start_time' //指定元素
          ,type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end_time' //指定元素
          ,type: 'datetime'
        });

      //监听工具条
        table.on('tool(useruv)', function(obj){
          var data = obj.data;
          if(obj.event === 'edit'){
             x_admin_show('查看','subject_see.html?id='+data.id,600,300);
          }
        });

        form.on('checkbox(filter)', function(data){ //全选

            $(this).closest('dl').find('input').prop('checked',this.checked);
           
            form.render('checkbox');//渲染
        });  
         

          var num = 0;

          $(".radio_d").click(function(){
            var html = '';
              html += '<div id="del1_'+num+'">';
              html += '<div class="layui-form-item">';
              html +=  '<label for="activity_name" class="layui-form-label">';
              html +=  '<div class="layui-btn layui-btn-danger layui-btn-xs del1" data-del="'+num+'">删除</div>';
              html +=      '<span class="x-red">*</span>'+(num+1)+'.问题';
              html +=  '</label>';
              html +=  '<div class="layui-input-block">';
              html +=      '<input type="text" id="problem" name="problem['+num+']" lay-verify="required" autocomplete="off" class="layui-input">';
              html +=  '</div>';
              html += '</div>';

              var arr = ['A','B','C','D'];

              for (i in arr){
                html +='<div class="layui-form-item">';
                html +=  '<label for="activity_name" class="layui-form-label">';
                html +=      '<span class="x-red">*</span>'+arr[i]+'';
                html +=  '</label>';
                html +=  '<div class="layui-input-block">';
                html +=     '<textarea type="text" name="content['+num+']['+arr[i]+']" lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>';
                html +=     '<input data-id="'+num+'" class="checkbox_'+num+'" type="checkbox" lay-filter="dx" name="answer['+num+'][]" value="'+arr[i]+'" title="'+arr[i]+'" lay-skin="primary">';
                html +=     '<input type="hidden" name="type['+num+']" value="0">';
                html +=  '</div>';
                html +='</div>';
              }
              html += '</div>';
              $("#question").append(html);
              form.render('checkbox');//渲染
              num++;
          })

          form.on('checkbox(dx)', function (data) {   //单选题控制

            var id = $(this).data('id');

            $(".checkbox_"+id).prop('checked',false);  //取消当前题的全部选中

            $(this).prop('checked',true);  //选中当前   

            form.render('checkbox');
          });

          $(".checkbox_d").click(function(){
            var html = '';
            html += '<div id="del1_'+num+'">';  
            html += '<div class="layui-form-item">';
            html +=  '<label for="activity_name" class="layui-form-label">';
            html +=  '<div class="layui-btn layui-btn-danger layui-btn-xs del1" data-del="'+num+'">删除</div>';
            html +=      '<span class="x-red">*</span>'+(num+1)+'.问题';
            html +=  '</label>';
            html +=  '<div class="layui-input-block">';
            html +=      '<input type="text" id="problem" name="problem['+num+']" lay-verify="required" autocomplete="off" class="layui-input">';
            html +=  '</div>';
            html += '</div>';

            var arr = ['A','B','C','D'];

            for (i in arr){
              html +='<div class="layui-form-item">';
              html +=  '<label for="activity_name" class="layui-form-label">';
              html +=      '<span class="x-red">*</span>'+arr[i]+'';
              html +=  '</label>';
              html +=  '<div class="layui-input-block">';
              html +=      '<textarea type="text" name="content['+num+']['+arr[i]+']" lay-verify="required" autocomplete="off" class="layui-textarea"></textarea>';
              html +=        '<input type="checkbox" name="answer['+num+'][]" value="'+arr[i]+'" lay-skin="primary" title="'+arr[i]+'">';
              html +=     '<input type="hidden" name="type['+num+']" value="1">';
              html +=  '</div>';
              html +='</div>';
            }
            html += '</div>';
            $("#question").append(html);
            form.render('checkbox');//渲染
            num++;
          })

          $(".text_d").click(function(){
            var html = '';
            html += '<div id="del1_'+num+'">';  
            html += '<div class="layui-form-item">';
            html +=  '<label for="activity_name" class="layui-form-label">';
            html +=  '<div class="layui-btn layui-btn-danger layui-btn-xs del1" data-del="'+num+'">删除</div>';
            html +=      '<span class="x-red">*</span>'+(num+1)+'.问题';
            html +=  '</label>';
            html +=  '<div class="layui-input-block">';
            html +=      '<input type="text" id="problem" name="problem['+num+']" lay-verify="required" autocomplete="off" class="layui-input">';
             html +=     '<input type="hidden" name="type['+num+']" value="2">';
            html +=  '</div>';
            html += '</div>';
            html += '</div>';
            $("#question").append(html);
            num++;
          })

          $(document).on('click','.del1',function(){

            var del_id = $(this).data('del');

            $("#del1_"+del_id).remove();

          })

          //监听提交
          form.on('submit(add)', function(data){
            // console.log(data.field)
            // return false
            // var checkStatus = table.checkStatus('idTest')
            // ,data1 = checkStatus.data;
            // if(data1 == ''){
            //   layer.msg('请添加问题', {icon: 1});
            //   return false;
            // }
            // var problem_id = [];
            // for (var i = 0; i < data1.length; i++) {
            //   problem_id.push(data1[i].id)
            // }
            // data.field.problem_id = problem_id
            //发异步，把数据提交给php
            $.post('/Admin/Statistical/questionnaire_add', data.field, function(res){

                if(res.code == 200){
                    layer.alert(res.msg, {icon: 1},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);

                      //关闭当前frame
                      parent.layer.close(index);
                     
                      window.parent.location.reload();

                  });
                }else{
                  layer.msg(res.msg,{time: 1000});
                }
            })
            
            return false;
          });
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>