{include file="public/header"}
<style type="text/css">
    .cursor{
        cursor: pointer;

    }
    .cursor :hover{
         text-decoration: underline;
    }
</style>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
   
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
           
            <div class="ibox-content">
                <div class="row row-lg">
                   
                    <div class="col-sm-12">
                        <!-- Example Pagination -->
                        <div class="example-wrap">
                            <h4 class="example-title">
								<div id="toolbar" style="float:left">
                                    {php}if($type == 2){{/php}

    							        <a href="{:url('admin/rebate/add_rebate')}"><button  class="btn btn-success">
    							           添加返利
    							        </button></a>
                                    {php}}{/php}
                                        
							    </div>
                              
                            </h4>

                            
                           
                            <div class="example">
                         
                                <table id="table" data-toggle="table"  data-search="true" data-striped="true" data-cell-style="cellStyle" data-show-export="true"  data-show-pagination-switch="false" data-pagination="true"  data-page-list="[20, 25, 50, 100, ALL]" data-show-footer="false" data-page-size="20" data-side-pagination="server" data-url="{:url('rebate_list_ajax')}">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-halign="center"data-field="id">ID</th>
                                            <th data-halign="center" data-field="frist_rebate">上一级返利百分比</th>
                                            <th data-halign="center" data-field="second_rebate">上两级返利百分比</th>
                                            <th data-halign="center" data-field="update_time">修改时间</th>
                                            <th data-halign="center" data-field="operate">操作</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Pagination -->
                    </div>

                   
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <div style="position: absolute;top:100px;left: 200px;background: #000;z-index: 1000">
        
    </div>

{include file="public/footer"}
<script>
    var $table = $('#table'),
        $remove = $('#remove'),
        selections = [];
    

   
    window.operateEvents = {
        'click .like': function (e, value, row, index) {
           // alert('You click like action, row: ' + JSON.stringify(row));
            var url = '{:url('rebate/edit_rebate','','')}';
            var id = row.id;
            window.location.href= url + '/id/' + id;
        },
    };

    $table.bootstrapTable({
            height: getHeight(),
            columns: [
                [
                    
                    {
                        field: 'state',
                        checkbox: true,
                        rowspan: 1,
                        width:50,
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        field:'id',
                        title:'ID',
                        class:'cursor',
                        align: 'center'
                    },
                    {
                        field:'frist_rebate',
                        title:'上一级返利百分比',
                        align: 'center'
                    },
                    {
                        field:'second_rebate',
                        title:'上两级返利百分比',
                        align: 'center'
                    },
                    {
                        field:'update_time',
                        title:'修改时间',
                        align: 'center'
                    },
                    {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }
                ]
            ]
        });
  
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function operateFormatter(value, row, index) {
        return [
                // '<a class="list" href="javascript:void(0)" title="list">',
                // '<i class="glyphicon glyphicon-list"></i>',
                // '</a>  ',
                '<a class="like" href="javascript:void(0)" title="编辑">',
                '<i class="glyphicon glyphicon-edit"></i>',
                '</a>  ',
                
            ].join('');
    }

   
    function totalTextFormatter(data) {
        return 'Total';
    }

    function totalNameFormatter(data) {
        return data.length;
    }

    function totalPriceFormatter(data) {
        var total = 0;
        $.each(data, function (i, row) {
            total += +(row.price.substring(1));
        });
        return '$' + total;
    }

    function getHeight() {
        return $(window).height() - $('h1').outerHeight(true);
    }



    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;

        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function() {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();

                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };

        head.appendChild(script);

        // We handle everything using the script element injection
        return undefined;
    }
function ajaxRequest(params) {
        // data you need
        console.log(params.data);
        // just use setTimeout
        $.post(posturl, {params}, function(data) {
        	 params.success(data);
        });
         
    }
</script>

