{include file="public/header"}
    <div class="x-body">
        <form class="layui-form">
          <input type="hidden" id="id" value="{$list['id']}" name="id" required="" lay-verify="id"
                  autocomplete="off" class="layui-input">
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>昵称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="nickname" value="{$list['nickname']}" required="" lay-verify="nikename"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="touxiang" class="layui-form-label">
                  <span class="x-red">*</span>头像
              </label>
              <div class="layui-upload-drag" style="width: 40%;height: 40%">
                <img src="{$list['wx_url']}" style="width: 30%;height: 30%" class="layui-upload-img">
                <!-- <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p> -->
              </div>
          </div>
          
          <div class="layui-form-item">
            <label  for="sex" class="layui-form-label">
              <span class="x-red">*</span>性别
            </label>
            <div class="layui-input-block">
              <select name="sex" lay-filter="sex">
                <option value="0" {if condition="$list['sex'] eq 0"}selected="selected"{/if}>不限</option>
                <option value="1" {if condition="$list['sex'] eq 1"}selected="selected"{/if}>男</option>
                <option value="2" {if condition="$list['sex'] eq 2"}selected="selected"{/if}>女</option>
              </select>
            </div>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="edit" lay-submit="">
                  编辑
              </button>
          </div>
      </form>
    </div>
    <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
     
        //自定义验证规则
        form.verify({
          nikename: function(value){
            if(value.length < 5){
              return '昵称至少得5个字符啊';
            }
          }
          // ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          // ,repass: function(value){
          //     if($('#L_pass').val()!=$('#L_repass').val()){
          //         return '两次密码不一致';
          //     }
          // }
        });

        //监听提交
        form.on('submit(edit)', function(data){

            //发异步，把数据提交给php
            $.post('/Admin/Member/member_edit', data.field, function(res){
                if(res.code == 1){
                    layer.alert(res.msg, {icon: 1},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);

                      window.parent.location.reload();
                  });
                }else{
                  layer.alert(res.msg, {icon: 1});
                }
            })

            return false;
        });
        
        
      });
  </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        console.log(s);
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>