{include file="public/header"}
<body>
<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑属性<small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal m-t" id="commentForm" enctype="multipart/form-data">
                            
                            <div class="form-group" id="type">
                                <label class="col-sm-3 control-label">属性名称：</label>
                                <div class="col-sm-3">
                                    <input id="type_name" name="type_name" minlength="2" placeholder="请输入属性名称" type="text" class="form-control" value="{$list['type_name']}" required="" aria-required="true">
                                </div>
                            </div>

                            

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                    <button class="btn btn-white" onclick="javascript:history.go(-1)">取消</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{include file="public/footer"}
</html>