{include file="public/header"}
<body>
<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改轮播图<small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" action="{:url('ad_edit')}" enctype="multipart/form-data">
                            <input name="id" type="hidden" value="{$data.id}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">轮播图:</label>
                                <div class="col-sm-9">
                                    <input type="file" class="form-control" name="pic" value="{$data.pic}"> <span class="help-block m-b-none"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                
                                <img src="{$data.pic}" name="pic" required="true" >
                                 
                                  
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <div class="btn btn-white" onclick="javascript:history.go(-1)">取消</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

