<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>领券商城</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="__CSS__/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
		<link href="__CSS__/check.css" rel="stylesheet" type="text/css" />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
        <script src="__JS__/jquery-1.10.2.min.js"></script>
		<script src="__JS__/time.js"></script>
	    


		<style>
	      .am-slider-default .am-control-nav{ text-align: center;}
	      .am-slider-default .am-control-nav li a.am-active{ background: #fdb325;}
	      .am-slider-default .am-control-nav li a{ border: 0; width: 10px; height: 10px;}
	    </style>
	    <script type="text/javascript">
	    	$.post("{:url('Jssdk/getSignPackage')}",{'url': location.href.split('#')[0]},function(data){
	    		console.log(data);
	    		  	wx.config({
					    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					    appId: data.data.appId, // 必填，公众号的唯一标识
					    timestamp: data.data.timestamp, // 必填，生成签名的时间戳
					    nonceStr: data.data.nonceStr, // 必填，生成签名的随机串
					    signature: data.data.signature,// 必填，签名
					    jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表
					});
	    	})
	  //   	wx.config({
			//     debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			//     appId: '', // 必填，公众号的唯一标识
			//     timestamp: , // 必填，生成签名的时间戳
			//     nonceStr: '', // 必填，生成签名的随机串
			//     signature: '',// 必填，签名
			//     jsApiList: [] // 必填，需要使用的JS接口列表
			// });
	    </script>
	</head>
	<body>